<section class="productDetail">
    <div class="productDetail__path">
        <a href="/tienda" class="productDetail__link">Tienda</a>
        <p class="productDetail__text productDetail__text--separator">/</p>
        <p class="productDetail__title productDetail__title--small">{{product.name}}</p>
    </div>
</section>
