$grisClaro: #E5E5E5;
$grisOscuro: #D6D6D6;

.storeContainer {
    display: flex;
    height: fit-content;
}

.filter {
    flex: 1;
    
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 20px;

    select:focus {
        outline: none;
    }

    &__textInput {
        height: 31px;
        background-color: $grisClaro;
        border: none;
        border-radius: 16px;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    &__button {
        height: 31px;
        position: absolute;
        right: 25px;
        top: 20px;
        background: none;
        border: none;

        &:focus {
            outline: none;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
    }

    &__select {
        width: 100%;
        border: none;
        border-bottom: 2px solid $grisClaro;
        font-size: 18px;
        margin: 10px 0;
    }

    &__body {
        font-size: 18px;
    }

    &__checkbox {
        margin: 5px 0;
        position: relative;
        width: 100%;

        input {
            appearance: none;
            position: absolute;
            right: 0;
            width: 14px;
            height: 14px;
            background-color: #FFF;
            border: 2px solid black;
            cursor: pointer;

            transition: background-color .2s ease-out;

            &:checked {
                background-color: #000;
            }
        }
    }

    &__range {
        appearance: none;
        width: 100%;
        margin: 10px 0;
        
        &::-webkit-slider-thumb {
            position: relative;
            top: -7px;
            appearance: none;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            background-color: black;
        }

        &::-webkit-slider-runnable-track {
            height: 4px;
            background-color: $grisClaro;
        }
    }
}



.items {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding: 10px;
    align-items: center;
    justify-content: center;

    &__product {
        margin: 11px;
        width: 320px;
    }

    &__top {
        width: 100%;
        height: 244px;
        padding: 10px;
        display: flex;
        justify-content: center;
        background-color: $grisClaro;
        transition: all .2s ease-out;
        cursor: pointer;

        &:hover {
            background-color: $grisOscuro;
        }
    }

    &__img {
        width: 70%;
        margin: 0 auto;
        align-self: center;
    }

    &__bottom {
        height: 162px;
        background-color: black;
        padding: 10px;
    }

    &__title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    &__body {
        font-size: 18px;
        color: white;
        display: inline;
        &--rating {
            display: inline;
        }
    }

    &__ratingIcon {
        display: inline;
    }

    &__rating {
        display: inline;
        position: relative;
        left: 160px;
    }

    &__buttons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &__itemDetails {
        position: relative;
        text-decoration: none;
        background-color: black;
        color: white;
        width: 135px;
        height: 42px;
        border: white 2px solid;
        border-radius: 21px;
        text-align: center;
        vertical-align: middle;
        line-height: 38px;
        margin: 25px 10px;
        right: 15px;

        transition: all .2s ease-out;

        &:hover {
            color: black;
            background-color: white;
        }
    }

    &__cartButton {
        background-color: white;
        border: none;
        border-radius: 21px;
        height: 42px;
        width: 72px;
        cursor: pointer;

        transition: all .2s ease-out;

        &:hover {
            background-color: $grisClaro;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}

.cart {
    display: flex;
    position: absolute;
    right: 30px;
    top: 25px
}

.shoppingCart {
    border: none;
    background: none;
    transition: color .2s ease-out;
    margin: 0 5px;
    color: white;

    &:hover {
        color: $grisClaro;
    }
}

.cartAmount {
    color: white;
}

.productDetail {
    background-color: white;
    padding: 60px;

    &__link {
        text-decoration: none;
        color: black;
        display: inline;
        font-size: 18px;
        font-weight: 400;

        &:hover {
            font-weight: 700;
        }
    }

    &__title {
        font-weight: 700;
    
        &--small {
            font-size: 18px;
            display: inline;
        }
    }

    &__text {
        color: black;
        font-weight: 400;

        &--separator {
            margin: 0 10px;
            display: inline;
        }
    }
}

.details {

    display: flex;

    &__image {
        width: 500px;
        height: 500px;
        padding: 30px;
        background-color: $grisClaro;
        margin: 30px;

        & img {
            height: 100%;
        }
    }

    &__info {
        margin: 30px 50px;
    }

    &__body {
        font-size: 20px;
    }

    &__add {
        width: 180px;
        height: 44px;
        background-color: black;
        cursor: pointer;
        color: white;
        border-radius: 22px;
        transition: all .2s ease-out;
        border: none;
        font-size: 18px;

        &:hover {
            background-color: white;
            color: black;
            border: solid 2px black;
        }
    }
}

.cartItems {
    padding: 30px;
    min-height: 366px;
    &__alert {
        display: none;
    }

    &__path a {
        text-decoration: none;
        color: black;
        font-weight: 400;

        &:hover {
            font-weight: 700;
        }
    }

    &__labels {
        margin: 20px 0;
        display: flex;
        justify-content: space-around;
    }

    &__total {
        position: relative;
        margin-left: 57vw;

        & strong {
            margin: 0 30px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 220px;
            height: 2px;
            background-color: rgb(90, 86, 86);
            left: 20px;
            top: -10px;
        }
    }

    &__checkout {
        display: block;
        margin: 50px auto;
        text-decoration: none;
        color: white;
        background-color: black;
        width: 180px;
        height: 46px;
        border-radius: 23px;
        border: solid 2px white;
        text-align: center;
        line-height: 42px;

        transition: all .2s ease-out;

        &:hover {
            background-color: white;
            color: black;
            border: solid 2px black;
        }
    }
}

.itemsContainer {
    
    &__rating {
        display: flex;
        align-items: center;

        &Icon {
            height: 17px;
            width: 17px;
            margin: 5px;
        }
    }

    &__item {
        display: flex;
        width: 100%;
        margin: 30px 0;
    }

    &__amount {
        position: relative;
        right: 20px;
        flex: 1;
        margin: 85px 0;
        text-align: center;
    }

    &__image {
        max-width: 100%;
        max-height: 100%;

        &Container {
            height: 180px;
            width: 180px;
            padding: 15px;
            background-color: $grisClaro;
            margin: 0 30px;
            flex: 1;
            
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__info {
        flex: 3;
    }

    &__body {
        font-size: 18px;
        font-weight: 400;

        &--path {
            font-weight: 700;
            display: inline;
        }

        &--separator {
            margin: 0 10px;
            display: inline;
        }
    }

    &__title {
        text-decoration: none;
        color: black;
        font-weight: 700;
        font-size: 24px;
    }

    &__eraseButton {
        position: relative;
        flex: 1;
        background: none;
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}

.checkout {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 50px auto;
    padding: 40px 0;
    justify-content: center;
    align-items: center;

    & div {
        margin: 10px 0;
    }
}

.form {

    &__name {
        display: flex;
        justify-content: space-between;
        width: 500px;
            
        & input {
            width: 240px !important;
        }        
    }

    &__label {
        display: block;
    }

    &__price {
        margin: 40px 0 !important;
        display: flex;
        justify-content: space-between;
    }

    &__priceValue {
        margin: 0 !important;
    }
}

form {
    margin-top: 50px;

    & input[type=text] {
    
        width: 100%;
        padding: 0 10px;
        height: 26px;
        border-radius: 13px;
        border: #191919 solid 1px;
    }

    & button {
        display: block;
        background-color: black;
        color: white;
        width: 150px;
        height: 44px;
        border-radius: 22px;
        transition: all .2s ease-out;
        border: solid 2px black;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: black;
        }

        &:focus {
            outline: none;
        }
    }
}
.text__title--large {
    font-size: 32px;
    margin: 0 250px;
}

.screen {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 591px;
    background-color: #4F4F4F;
    overflow: hidden;

    &--inactive {
        display: none;
    }
}

.interaction {

    &__button {
        position: relative;
        margin: 0 auto;
        top: 100px;
        width: 200px;
        height: 200px;
        cursor: pointer;
    }

    &__image {
        position: absolute;
        width: 200px;
    }

    &__play {
        position: relative;
        width: 40px;        
        left: 4px;
    
        &Button {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 47px;
            top: 80px;
            box-sizing: content-box;
            background-color: black;
            width: 106px;
            height: 106px;
            border-radius: 50%;
            transition: all .2s ease-out;

            &:hover {
                background-color: #191919;
            }
        }
    }

    &Container {
        display: block;
        overflow: hidden;

        &--inactive {
            display: none;
        }
    }
}

.text__body--interaction {
    position: relative;
    top: 150px;
    text-align: center;
    color: $grisClaro;
    margin: 0 auto;
    width: 300px;
}