.storeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.filter {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 20px;
}

.filter select:focus {
  outline: none;
}

.filter__textInput {
  height: 31px;
  background-color: #E5E5E5;
  border: none;
  border-radius: 16px;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
}

.filter__button {
  height: 31px;
  position: absolute;
  right: 25px;
  top: 20px;
  background: none;
  border: none;
}

.filter__button:focus {
  outline: none;
}

.filter__title {
  font-weight: 700;
  font-size: 18px;
}

.filter__select {
  width: 100%;
  border: none;
  border-bottom: 2px solid #E5E5E5;
  font-size: 18px;
  margin: 10px 0;
}

.filter__body {
  font-size: 18px;
}

.filter__checkbox {
  margin: 5px 0;
  position: relative;
  width: 100%;
}

.filter__checkbox input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
  right: 0;
  width: 14px;
  height: 14px;
  background-color: #FFF;
  border: 2px solid black;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.filter__checkbox input:checked {
  background-color: #000;
}

.filter__range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  margin: 10px 0;
}

.filter__range::-webkit-slider-thumb {
  position: relative;
  top: -7px;
  -webkit-appearance: none;
          appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: black;
}

.filter__range::-webkit-slider-runnable-track {
  height: 4px;
  background-color: #E5E5E5;
}

.items {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items__product {
  margin: 11px;
  width: 320px;
}

.items__top {
  width: 100%;
  height: 244px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #E5E5E5;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  cursor: pointer;
}

.items__top:hover {
  background-color: #D6D6D6;
}

.items__img {
  width: 70%;
  margin: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.items__bottom {
  height: 162px;
  background-color: black;
  padding: 10px;
}

.items__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.items__body {
  font-size: 18px;
  color: white;
  display: inline;
}

.items__body--rating {
  display: inline;
}

.items__ratingIcon {
  display: inline;
}

.items__rating {
  display: inline;
  position: relative;
  left: 160px;
}

.items__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.items__itemDetails {
  position: relative;
  text-decoration: none;
  background-color: black;
  color: white;
  width: 135px;
  height: 42px;
  border: white 2px solid;
  border-radius: 21px;
  text-align: center;
  vertical-align: middle;
  line-height: 38px;
  margin: 25px 10px;
  right: 15px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.items__itemDetails:hover {
  color: black;
  background-color: white;
}

.items__cartButton {
  background-color: white;
  border: none;
  border-radius: 21px;
  height: 42px;
  width: 72px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.items__cartButton:hover {
  background-color: #E5E5E5;
  cursor: pointer;
}

.items__cartButton:focus {
  outline: none;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 30px;
  top: 25px;
}

.shoppingCart {
  border: none;
  background: none;
  -webkit-transition: color .2s ease-out;
  transition: color .2s ease-out;
  margin: 0 5px;
  color: white;
}

.shoppingCart:hover {
  color: #E5E5E5;
}

.cartAmount {
  color: white;
}

.productDetail {
  background-color: white;
  padding: 60px;
}

.productDetail__link {
  text-decoration: none;
  color: black;
  display: inline;
  font-size: 18px;
  font-weight: 400;
}

.productDetail__link:hover {
  font-weight: 700;
}

.productDetail__title {
  font-weight: 700;
}

.productDetail__title--small {
  font-size: 18px;
  display: inline;
}

.productDetail__text {
  color: black;
  font-weight: 400;
}

.productDetail__text--separator {
  margin: 0 10px;
  display: inline;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details__image {
  width: 500px;
  height: 500px;
  padding: 30px;
  background-color: #E5E5E5;
  margin: 30px;
}

.details__image img {
  height: 100%;
}

.details__info {
  margin: 30px 50px;
}

.details__body {
  font-size: 20px;
}

.details__add {
  width: 180px;
  height: 44px;
  background-color: black;
  cursor: pointer;
  color: white;
  border-radius: 22px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border: none;
  font-size: 18px;
}

.details__add:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.cartItems {
  padding: 30px;
  min-height: 366px;
}

.cartItems__alert {
  display: none;
}

.cartItems__path a {
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.cartItems__path a:hover {
  font-weight: 700;
}

.cartItems__labels {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cartItems__total {
  position: relative;
  margin-left: 57vw;
}

.cartItems__total strong {
  margin: 0 30px;
}

.cartItems__total::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 2px;
  background-color: #5a5656;
  left: 20px;
  top: -10px;
}

.cartItems__checkout {
  display: block;
  margin: 50px auto;
  text-decoration: none;
  color: white;
  background-color: black;
  width: 180px;
  height: 46px;
  border-radius: 23px;
  border: solid 2px white;
  text-align: center;
  line-height: 42px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.cartItems__checkout:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.itemsContainer__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemsContainer__ratingIcon {
  height: 17px;
  width: 17px;
  margin: 5px;
}

.itemsContainer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 30px 0;
}

.itemsContainer__amount {
  position: relative;
  right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 85px 0;
  text-align: center;
}

.itemsContainer__image {
  max-width: 100%;
  max-height: 100%;
}

.itemsContainer__imageContainer {
  height: 180px;
  width: 180px;
  padding: 15px;
  background-color: #E5E5E5;
  margin: 0 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.itemsContainer__info {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.itemsContainer__body {
  font-size: 18px;
  font-weight: 400;
}

.itemsContainer__body--path {
  font-weight: 700;
  display: inline;
}

.itemsContainer__body--separator {
  margin: 0 10px;
  display: inline;
}

.itemsContainer__title {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 24px;
}

.itemsContainer__eraseButton {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: none;
  border: none;
  cursor: pointer;
}

.itemsContainer__eraseButton:focus {
  outline: none;
}

.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
  padding: 40px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout div {
  margin: 10px 0;
}

.form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
}

.form__name input {
  width: 240px !important;
}

.form__label {
  display: block;
}

.form__price {
  margin: 40px 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__priceValue {
  margin: 0 !important;
}

form {
  margin-top: 50px;
}

form input[type=text] {
  width: 100%;
  padding: 0 10px;
  height: 26px;
  border-radius: 13px;
  border: #191919 solid 1px;
}

form button {
  display: block;
  background-color: black;
  color: white;
  width: 150px;
  height: 44px;
  border-radius: 22px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  border: solid 2px black;
  margin: 0 auto;
  cursor: pointer;
}

form button:hover {
  background-color: white;
  color: black;
}

form button:focus {
  outline: none;
}

.text__title--large {
  font-size: 32px;
  margin: 0 250px;
}

.screen {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 591px;
  background-color: #4F4F4F;
  overflow: hidden;
}

.screen--inactive {
  display: none;
}

.interaction__button {
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.interaction__image {
  position: absolute;
  width: 200px;
}

.interaction__play {
  position: relative;
  width: 40px;
  left: 4px;
}

.interaction__playButton {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 47px;
  top: 80px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  background-color: black;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.interaction__playButton:hover {
  background-color: #191919;
}

.interactionContainer {
  display: block;
  overflow: hidden;
}

.interactionContainer--inactive {
  display: none;
}

.text__body--interaction {
  position: relative;
  top: 150px;
  text-align: center;
  color: #E5E5E5;
  margin: 0 auto;
  width: 300px;
}
/*# sourceMappingURL=main.css.map */