$grisClaro: #E5E5E5;

.storeContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.filter {
    flex: 1;
    height: 100vh;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 20px;

    &__form {
        margin-bottom: 10px;
    }

    &__textInput {
        height: 31px;
        background-color: $grisClaro;
        border: none;
        border-radius: 16px;
        width: 100%;
        padding: 0 10px;
    }

    &__button {
        height: 31px;
        position: absolute;
        right: 25px;
        top: 20px;
        background: none;
        border: none;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
    }

    &__select {
        width: 100%;
        border: none;
        border-bottom: 2px solid $grisClaro;
        font-size: 18px;
        margin: 10px 0;
    }

    &__body {
        font-size: 18px;
    }

    &__checkbox {
        margin: 5px 0;
        position: relative;
        width: 100%;

        input {
            appearance: none;
            position: absolute;
            right: 0;
            width: 14px;
            height: 14px;
            background: none;
            border: 2px solid black;

            &:checked {
                background-color: black;
            }
        }
    }

    &__range {
        width: 100%;
        margin: 10px 0;
    }
}



.items {
    flex: 4;

    height: 100vh;
}