$grisClaro: #E5E5E5;
$grisOscuro: #D6D6D6;

.storeContainer {
    display: flex;
}

.filter {
    flex: 1;
    height: 1304px;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    padding: 20px;

    select:focus {
        outline: none;
    }

    &__form {
        margin-bottom: 10px;
    }

    &__textInput {
        height: 31px;
        background-color: $grisClaro;
        border: none;
        border-radius: 16px;
        width: 100%;
        padding: 0 10px;
    }

    &__button {
        height: 31px;
        position: absolute;
        right: 25px;
        top: 20px;
        background: none;
        border: none;
    }

    &__title {
        font-weight: 700;
        font-size: 18px;
    }

    &__select {
        width: 100%;
        border: none;
        border-bottom: 2px solid $grisClaro;
        font-size: 18px;
        margin: 10px 0;
    }

    &__body {
        font-size: 18px;
    }

    &__checkbox {
        margin: 5px 0;
        position: relative;
        width: 100%;

        input {
            appearance: none;
            position: absolute;
            right: 0;
            width: 14px;
            height: 14px;
            background-color: #FFF;
            border: 2px solid black;
            cursor: pointer;

            transition: background-color .2s ease-out;

            &:checked {
                background-color: #000;
            }
        }
    }

    &__range {
        appearance: none;
        width: 100%;
        margin: 10px 0;
        
        &::-webkit-slider-thumb {
            position: relative;
            top: -7px;
            appearance: none;
            width: 18px;
            height: 18px;
            border-radius: 9px;
            background-color: black;
        }

        &::-webkit-slider-runnable-track {
            height: 4px;
            background-color: $grisClaro;
        }
    }
}



.items {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    padding: 10px;

    &__product {
        margin: 11px;
        width: 320px;
    }

    &__top {
        width: 100%;
        height: 244px;
        padding: 10px;
        display: flex;
        justify-content: center;
        background-color: $grisClaro;
        transition: all .2s ease-out;
        cursor: pointer;

        &:hover {
            background-color: $grisOscuro;
        }
    }

    &__img {
        width: 70%;
        margin: 0 auto;
        align-self: center;
    }

    &__bottom {
        height: 162px;
        background-color: black;
        padding: 10px;
    }

    &__title {
        display: block;
        font-size: 18px;
        font-weight: 700;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }

    &__body {
        font-size: 18px;
        color: white;
        display: inline;
        &--rating {
            display: inline;
        }
    }

    &__ratingIcon {
        display: inline;
    }

    &__rating {
        display: inline;
        position: relative;
        left: 160px;
    }

    &__buttons {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    &__itemDetails {
        position: relative;
        text-decoration: none;
        background-color: black;
        color: white;
        width: 135px;
        height: 42px;
        border: white 2px solid;
        border-radius: 21px;
        text-align: center;
        vertical-align: middle;
        line-height: 38px;
        margin: 25px 10px;
        right: 15px;

        transition: all .2s ease-out;

        &:hover {
            color: black;
            background-color: white;
        }
    }

    &__cartButton {
        background-color: white;
        border: none;
        border-radius: 21px;
        height: 42px;
        width: 72px;
        cursor: pointer;

        transition: all .2s ease-out;

        &:hover {
            background-color: $grisClaro;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }
    }
}