.storeContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.filter {
    flex: 1;
    width: 100%;
    height: 100vh;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

.items {
    flex: 4;
    width: 100%;
    height: 100vh;
}